/*
//  ==========================
//  Evgeniy Ivanov
//  Email: busforward@gmail.com
//  Skype: ivanov_ea
//  ==========================
 */

@import 'mixins/mixin';
// Fonts
@include font-face("Gotham Pro", '../fonts/GothamPro', normal, normal);
@include font-face("Gotham Pro", '../fonts/GothamPro-Medium', 500, normal);
@include font-face("Gotham Pro", '../fonts/GothamPro-MediumItalic', 500, italic);
@include font-face("Gotham Pro", '../fonts/GothamPro-Bold', 700, normal);
@include font-face("Kankin", '../fonts/Kankin', normal, normal);


 // Import files
@import 'variables/variables';
@import 'core/reset';
@import 'core/grid';
@import 'core/form';
@import 'core/template';
@import 'core/header';
@import 'core/navbar';
@import 'core/footer';
@import 'slick';

@import 'block/breadcrumb';
@import 'block/pagination';
@import 'block/home';
@import 'block/loader';
@import 'block/homeHead';
@import 'block/infoBox';
@import 'block/video';
@import 'block/whiy';
@import 'block/slider';
@import 'block/parthners';
@import 'block/simple';
@import 'block/number';
@import 'block/gallery';

.hiddenAnim {
     opacity:0;
}

.visibleAnim {
     opacity:1;
}


.catalog {
	&__content {
		overflow: hidden;
		max-width: 71.3em;
		padding-left: 1em;
		padding-right: 1em;
	}
	.navbar {
		padding-left: 4.8em;
		text-align: left;
	}
}

.catalogHead {
	min-height: 24.4em;
	display: table;
	width: 100%;
	background: url(../img/catalog-bg.jpg) 0 0 no-repeat;
	&__title {
		display: table-cell;
		vertical-align: middle;
		padding: 0.7em 8.4em 0;
		font-size: 3em;
		text-transform: uppercase;
		font-family: Kankin;
		letter-spacing: .1em;
	}
	@media (max-width: 767px) {
		min-height: 13em;
		&__title {
			padding: 1.6em 0.5em 0;
		}
	}
}


.sidebar {
	float: left;
	width: 29.4em;
	background-color: #fafafc;
	margin-right: 1em;
	&__nav {
	}
	&__item {
		&.open {
			.sidebar {
				&__head {
					&:after {
						transform: rotateX(180deg);
					}
				}
				&__wrap {
					padding: 1.1em 0 1.3em;
					height: auto;
				}
				&__link {
					padding: 0.7em 4.2em 1.1em;
				}
			}
		}
	}
	&__head {
		font-weight: 700;
		background-color: #f0eff4;
		padding: 1.5em 2.8em;
		font-size: 1.5em;
		position: relative;
		cursor: pointer;
		&:after {
			content: url('../img/aside-caret.png');
			position: absolute;
			right: 2.75em;
			transition: all .3s;
		}
	}
	&__wrap {
		padding: 0;
		height: 0;
		overflow: hidden;
		transition: all .3s;
	}
	&__link {
		padding: 0 4.2em;
		color: #444444;
		transition: all .3s;
		display: block;
		text-decoration: none;
		transition: all .3s;
		&:hover,&.active {
			color: #ff0a0a;
		}
	}
	@media (max-width: 767px) {
	    float: none;
	    margin-bottom: 3em;
	    width: 100%;
	    &__head {
			padding: 1.1em 1.1em;
			&:after {
				right: 1em;
			}
	    }
		&__link {
			padding: 0 1.8em;
		}
		&__item {
			&.open {
				.sidebar {
					&__wrap {
						padding: 1.1em 0 1.3em;
						height: auto;
					}
					&__link {
						padding: 0.8em 1.8em 0.8em;
					}
				}
			}
		}
	}
}

.catalogList {
	margin-left: -2em;
	> div {
		padding-left: 2em;
		margin-bottom: 2.4em;
	}
	&__wrap {
	}
	&__item {
		display: block;
		text-decoration: none;
		color: #000000;
		font-size: 1.5em;
		font-weight: 500;
		text-align: center;
		transition: all .3s;
		box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.15);
		&:hover {
			box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.15);
		}
	}
	&__img {
		position: relative;
		padding: 0.5em;
		height: 10.75em;
		overflow: hidden;
		width: 100%;
		display: block;
		&:after {
			content: '';
			position: absolute;
			bottom: 0;
			left: 13%;
			right: 13%;
			bottom: 0;
			height: 1px;
			background-color: #cccccc;
		}
		img {
			// position: absolute;
			max-height: 100%;
		}
	}
	&__name {
		display: block;
		padding: 0.75em 0.5em;
	}
	&__text {
		font-size: 0.7em;
		display: block;
		padding: 0.3em 1.6em 1em;
		font-weight: 400;
	}
	@media (max-width: 767px) {
	    > div {
	    	width: 100%;
	    }
	}
}

.category {
	&__head {
		padding: 3.2em 0 4em;
		line-height: 1.5;
		letter-spacing: 0.0001em;
		img {
			float: left;
			margin-right: 1.7em;
			max-width: 32.4%;
		}
		p {
			margin: 0.6em 0 1.5em;
		}
	}
	@media (max-width: 767px) {
	    &__head {
	    	img {
	    		max-width: 50%;
	    	}
	    }
	}
}

.table {
	text-align: center;
	font-size: 1.1em;
	border-collapse: collapse;
	width: 100%;
	// border: none;
	// box-sizing: border-box;
	&__wrap {
	}
	tr {
		&:nth-of-type(odd) {
			td {
				background-color: #fbfafc;
			}
		}
	}
	th {
		color: #666666;
		font-size: 0.8em;
		font-weight: 400;
		padding: 0.5em 0.3em;
		vertical-align: middle;
	}
	td {
		background-color: #f6f4f7;
		border: 4px solid #fff;
		padding: 0.3em 1.6em;
	}
	@media (max-width: 767px) {
		min-width: 550px;
		&__wrap {
			overflow-y: hidden;
			overflow-x: auto;
			max-width: 100%;
		}
	}
}

.product {
	@extend %clear_a;
	margin-top: -2.8em;
	&__left {
		float: left;
		width: 50%;
		padding-top: 2.5em;
		padding-right: 3.7em;
		@extend %clear_a;
		img {
			position: absolute;
			max-width: 100%;
			max-height: 100%;
		}
	}
	&__preview {
		float: right;
		width: 80.7%;
		// text-align: center;
	}
	&__lg {
		box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.15);
		background-color: #ffffff;
		display: none;
		width: 100%;
		position: relative;
		padding-bottom: 99.4%;
		overflow: hidden;
		transition: all .3s;
		opacity: 0;
		img {
		}
		&.active {
			display: block;
			opacity: 1;
		}
	}
	&__thumbs {
		width: 13.2%;
		// text-align: center;
	}
	&__sm {
		box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.15);
		background-color: #ffffff;
		margin-bottom: 1.2em;
		width: 100%;
		position: relative;
		padding-bottom: 100%;
		overflow: hidden;
	}
	&__right {
		overflow: hidden;
		border-left: 2px solid rgba(#293032, .1);
		padding-left: 3.3em;
	}
	&__name {
		color: #091217;
		font-family: Kankin;
		font-size: 2.25em;
		margin-bottom: 0.6em;
	}
	&__price {
		font-family: Kankin;
		color: #ff0000;
		font-size: 2.5em;
		letter-spacing: 0.01em;
		margin-bottom: 0.6em;
	}
	&__descr {
		border-top: 1px solid #fff;
		border-bottom: 1px solid #fff;
		padding: 2.3em 0.2em  1.6em;
		margin-bottom: 2.4em;
	}
	&__list {
		letter-spacing: 0.05em;
	}
	&__listItem {
		margin-bottom: 0.57em;
	}
	&__action {
		padding-left: 0.3em;
	}
	.btn {}
	@media (max-width: 767px) {
	    &__left {
	    	float: none;
	    	margin-bottom: 3em;
	    	width: 100%;
	    	padding-right: 0;
	    	max-width: 400px;
	    }
	    &__right {
	    	border-left: none;
	    	padding-left: 0;
	    }
	}
}
.news__content {
	overflow: hidden;
    max-width: 71.3em;
    padding-left: 1em;
    padding-right: 1em;
    padding-bottom: 9em;
}
.newsList {
	&__item {
		display: block;
		padding-bottom: 1em;
		text-decoration: none;
		box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.15);
		background-color: #fff;
		transition: all .3s;
		position: relative;
		&:hover {
			box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.15);
		}
	}
	&__head {
		display: block;
		&:after {
			content: '';
			display: table;
			clear: both;
			width: 100%;
		}
	}
	&__name {
		display: block;
		padding: 1em 0 1em 1em;
		color: #000000;
		font-size: 1.125em;
		font-weight: 500;
		overflow: hidden;
		@media (max-width: 767px) {
		    font-size: 18px;
		}
	}
	&__date {
		display: block;
		float: right;
		padding: 1.6em 1em 1em 0;
		color: #888888;
		font-size: 0.86em;
		font-weight: 400;
		@media (max-width: 767px) {
		    font-size: 14px;
		}
	}
	&__img {
		display: block;
		position: relative;
		img {
			display: block;
			width: 100%;
		}
	}
	&__text {
		display: block;
		margin-bottom: 1em;
		padding: 0.7em 1.1em;
		color: #444444;
		font-size: 1em;
		font-weight: 400;
		@media (max-width: 767px) {
		    font-size: 14px;
		}
	}
	&__next {
		position: absolute;
		display: block;
		color: #ff0a0a;
		font-size: 1em;
		font-weight: 400;
		text-align: center;
		left: 50%;
		bottom: 0.7em;
		transform: translate(-50%,0);
		@media (max-width: 767px) {
		    font-size: 14px;
		}
	}
	@media (max-width: 767px) {
	    > div {
	    	width: 100%;
	    }
	}
}
.error {
	padding-top: 18.3em;
	padding-bottom: 7.5em;
	background-image: url(../img/404.png);
	background-repeat: no-repeat;
	background-size: 358px 147px;
	background-position: center top 9.4em;
	font-size: 1.875em;
	text-align: center;
	@media (max-width: 1199px) {
	    background-position: center top 4.4em;
	}
	@media (max-width: 991px) {
	    background-size: 318px 117px;
	}
	@media (max-width: 767px) {
	    background-size: 223px 80px;
	    padding-top: 10.3em;
	    padding-bottom: 3.5em;
	    background-position: center top 3.4em;
	}
	&__link {
		color: #ff0a0a;
		text-decoration: none;
	}
}
.newHead {
	width: 100%;
	min-height: 31.25em;
	background-image: url(../img/new-1.jpg);
	background-size: cover;
	background-position: center top;
	&__container {
		padding-top: 7.4em;
		padding-bottom: 2em;
	}
	&__title {
		font-family: "Kankin";
		font-size: 3.75em;
		color: #fff;
		letter-spacing: 0.376rem;
		text-transform: uppercase;
		margin-bottom: 1.4em;
	}
	&__date {
		font-size: 1.5em;
		color: #fff;
	}
}
.newBody {
	padding-top: 4.1em;
	padding-bottom: 9em;
	&__title {
		font-family: "Kankin";
		font-size: 1.5em;
		letter-spacing: 0.15rem;
		margin-bottom: 1.8em;
		text-transform: uppercase;
	}
	&__text {
		margin-bottom: 1.6em;
		font-size: 1.125em;
		color: #444444;
		line-height: 1.3em;
	}
}



.form {
	max-width: 630px;
	padding-top: 5.5em;
	padding-bottom: 0.2em;
	margin-left: auto;
	margin-right: auto;
	&__title {
		margin: 0 0 1.4em 0;
		font-family: "Kankin";
		font-size: 3em;
		font-weight: normal;
		letter-spacing: 0.09em;
		text-transform: uppercase;
	}
}
.formBody {
	font-family: "Gotham Pro";
	&__row {
		margin-bottom: 2.3em;
		position: relative;
		&--center {
			text-align: center;
		}
		&:after {
			content: '';
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			width: 3.5em;
			height: 100%;
			background-repeat: no-repeat;
	    	background-position: center;
	    	background-size: 3.5em 100%;
	    	@media (max-width: 767px) {
	    	    width: 4em;
	    	    background-size: 4em 100%;
	    	}
		}
		&--name:after {
	    	background-image: url(../img/name.jpg);
	    }
	    &--tel:after {
	    	background-image: url(../img/phone.jpg);
	    }
	    &--email:after {
	    	background-image: url(../img/email.jpg);
	    }
	    &--message:after {
	    	background-image: url(../img/message.jpg);
	    }
	}
	&__inp {
		width: 100%;
		background-color: #f0eff4;
	    border: 1px solid #f0eff4;
	    padding: 0.9em 1em 0.9em 4em !important;
	    outline: none;
	    font-size: 1.125em !important;
	    font-weight: normal;
	    border-radius: 0px;
	    transition: all .3s;
	    &:hover {
	    	border: 1px solid #ddd;
   			background-color: #fff;
	    }
	    &::placeholder {
	    	color: #888888;
			font-family: "Gotham Pro";
			font-weight: 400;
			font-style: italic;
	    }
	    @media (max-width: 767px) {
	        font-size: 14px !important;
	    }
	}
	&__texarea {
		display: block;
		width: 100%;
		height: 5.6em;
		background-color: #f0eff4;
		background-repeat: no-repeat;
	    border: 1px solid #f0eff4;
	    padding: 0.9em 1em 0.9em 5em;
	    outline: none;
	    font-size: 1.125em;
	    font-weight: normal;
	    border-radius: 0px;
	    transition: all .3s;
    	resize: none;
		&::placeholder {
			color: #888888;
			font-family: "Gotham Pro";
			font-weight: 400;
			font-style: italic;
		}
	    &:hover {
	    	border: 1px solid #ddd;
   			background-color: #fff;
	    }
	     @media (max-width: 767px) {
	        font-size: 14px;
	    }
	}
	&__btn {
		color: #ffffff;
	    font-size: 1.5em;
	    font-weight: 500;
	    padding: 0.6em 4em;
	    border: none;
	    outline: none;
	    text-decoration: none;
	    display: inline-block;
	    background-color: #ff0000;
	    text-align: center;
	    max-width: 100%;
	    cursor: pointer;
	    border-radius: 0px;
	    transition: all .3s;
	    text-decoration: none;
	    min-width: 13.8em;
	    &:focus {
	    	background-color: #e00000;
    		color: #ffffff;
	    }
	    @media (max-width: 767px) {
	        font-size: 18px;
	        padding: 0.6em 1em;
	    }
	}
}