aside.sidebar
	.sidebar__nav
		.sidebar__item
			.sidebar__head Гидравлика
			.sidebar__wrap
				a(href="#").sidebar__link.active Фитинги
				a(href="#").sidebar__link Гидравлические рукава
				a(href="#").sidebar__link Адаптеры и трубные соединения
				a(href="#").sidebar__link Промышленные рукава
				a(href="#").sidebar__link Металлорукава и компенсаторы
				a(href="#").sidebar__link Контрольно-измерительная аппаратура
				a(href="#").sidebar__link Запорная арматура
				a(href="#").sidebar__link Быстроразъемные соединения
				a(href="#").sidebar__link Защита для РВД
				a(href="#").sidebar__link Соединительная арматура для промышленных рукавов
				a(href="#").sidebar__link Уплотнительные кольца и шайбы
				a(href="#").sidebar__link Хомуты
				a(href="#").sidebar__link Гидравлические компоненты
				a(href="#").sidebar__link Фильтры
				a(href="#").sidebar__link Гидравлическая труба и трубные зажимы
				a(href="#").sidebar__link Промышленные клеи и герметики Loctite
		.sidebar__item
			.sidebar__head Пневматика
			.sidebar__wrap
				a(href="#").sidebar__link Фитинги
				a(href="#").sidebar__link Гидравлические рукава
				a(href="#").sidebar__link Адаптеры и трубные соединения
				a(href="#").sidebar__link Промышленные рукава
				a(href="#").sidebar__link Металлорукава и компенсаторы
				a(href="#").sidebar__link Контрольно-измерительная аппаратура
				a(href="#").sidebar__link Запорная арматура
				a(href="#").sidebar__link Быстроразъемные соединения
		.sidebar__item
			.sidebar__head Оборудование
			.sidebar__wrap
				a(href="#").sidebar__link Фитинги
				a(href="#").sidebar__link Гидравлические рукава
				a(href="#").sidebar__link Адаптеры и трубные соединения
				a(href="#").sidebar__link Промышленные рукава
				a(href="#").sidebar__link Металлорукава и компенсаторы
				a(href="#").sidebar__link Контрольно-измерительная аппаратура
				a(href="#").sidebar__link Запорная арматура
				a(href="#").sidebar__link Быстроразъемные соединения
		.sidebar__item
			.sidebar__head Услуги
			.sidebar__wrap
				a(href="#").sidebar__link Фитинги
				a(href="#").sidebar__link Гидравлические рукава
				a(href="#").sidebar__link Адаптеры и трубные соединения
				a(href="#").sidebar__link Промышленные рукава
				a(href="#").sidebar__link Металлорукава и компенсаторы
				a(href="#").sidebar__link Контрольно-измерительная аппаратура
				a(href="#").sidebar__link Запорная арматура
				a(href="#").sidebar__link Быстроразъемные соединения
