// begin footer 
footer.footer
	.container_center
		// begin footer__nav
		.footer__nav
			.footer__col
				.footer__head Компания
				.footer__list
					.footer__listItem
						a(href="#").footer__navLink Новости
					.footer__listItem
						a(href="#").footer__navLink История
					.footer__listItem
						a(href="#").footer__navLink Фотогалерея
					.footer__listItem
						a(href="#").footer__navLink Видео
					.footer__listItem
						a(href="#").footer__navLink Партнёры
					.footer__listItem
						a(href="#").footer__navLink Отзывы
					.footer__listItem
						a(href="#").footer__navLink Вакансии
					.footer__listItem
						a(href="#").footer__navLink Сотрудники

			.footer__col
				.footer__head Услуги
				.footer__list
					.footer__listItem
						a(href="#").footer__navLink Ремонт РВД в мастерской
					.footer__listItem
						a(href="#").footer__navLink Ремонт РВД с выездом на объект
					.footer__listItem
						a(href="#").footer__navLink Ремонт гидроцилиндров
					.footer__listItem
						a(href="#").footer__navLink Ремонт шлангов ГУР
					.footer__listItem
						a(href="#").footer__navLink Изготовление уплотнений, манжет
					.footer__listItem
						a(href="#").footer__navLink Изготовление гидравлических трубок
					.footer__listItem
						a(href="#").footer__navLink Заправка гидромолота азотом

			.footer__col
				.footer__head Каталог
				.footer__list
					.footer__listItem
						a(href="#").footer__navLink Рукава высокого давления (РВД)
					.footer__listItem
						a(href="#").footer__navLink Шланги для моек
					.footer__listItem
						a(href="#").footer__navLink Защита для РВД
					.footer__listItem
						a(href="#").footer__navLink Шаровые краны
					.footer__listItem
						a(href="#").footer__navLink Быстроразъемные соединения
					.footer__listItem
						a(href="#").footer__navLink Диверторы
					.footer__listItem
						a(href="#").footer__navLink Трубные соединения
					.footer__listItem
						a(href="#").footer__navLink Оборудование для РВД
					.footer__listItem
						a(href="#").footer__navLink Манометры и микрошланги
		
		.footer__nav
			
			.footer__col
				.footer__contact
					a(href="tel:").footer__tel 8 (495) 256-06-02
					a(href="mailto:").footer__navLink info@gidravlikgroup.ru
			.footer__col
				.footer__contact
					a(href="tel:").footer__tel 8 (800) 77-596-77
					|Бесплатный звонок по РФ
			.footer__col.footer__request
				.footer__btn
					button.btn Заказать выезд на объект
				a(href="contacts.html").footer__navLink Узнать адреса мастерских

		// end footer__nav
	
		// begin footer__copy 
		.footer__copy © 2012-2019 ООО Гидравлик Групп
		// end footer__copy 

// end footer 