// begin footer 
footer.footer
	.container_center
		// begin footer__nav
		.footer__nav
			.footer__col
				.footer__head Наши Товары
				.footer__list
					.footer__listItem
						a(href="#").footer__navLink Шланги высокого давления (РВД)
					.footer__listItem
						a(href="#").footer__navLink Тефлоновые рукава
					.footer__listItem
						a(href="#").footer__navLink Оборудование для РВД
					.footer__listItem
						a(href="#").footer__navLink Термопластиковые рукава
					.footer__listItem
						a(href="#").footer__navLink Быстроразъемные соединения (БРС)
					.footer__listItem
						a(href="#").footer__navLink Диверторы
					.footer__listItem
						a(href="#").footer__navLink Защита для РВД
					.footer__listItem
						a(href="#").footer__navLink Камлоки
					.footer__listItem
						a(href="#").footer__navLink Манометры и микрошланги
					.footer__listItem
						a(href="#").footer__navLink Масла и смазки
					.footer__listItem
						a(href="#").footer__navLink Навесное оборудование
					.footer__listItem
						a(href="#").footer__navLink Трубные соединения
			.footer__col
				.footer__head Наши услуги
				.footer__list
					.footer__listItem
						a(href="#").footer__navLink Стационарная мастерская
					.footer__listItem
						a(href="#").footer__navLink Мобильные мастерские
					.footer__listItem
						a(href="#").footer__navLink Ремонт гидроцилиндров
					.footer__listItem
						a(href="#").footer__navLink Ремонт шлангов ГУР
					.footer__listItem
						a(href="#").footer__navLink Изготовление шлангов ГУР
					.footer__listItem
						a(href="#").footer__navLink Изготовление гидравлических трубок
					.footer__listItem
						a(href="#").footer__navLink Ремонт РВД
					.footer__listItem
						a(href="#").footer__navLink Изготовление РВД
					.footer__listItem
						a(href="#").footer__navLink Заправка гидромолота азотом
			.footer__col
				.footer__contact
					a(href="tel:").footer__tel 8 (495) 256-06-02
					|Без выходных с 08 до 21
				.footer__contact
					a(href="tel:").footer__tel 8 (800) 77-596-77
					|Бесплатный звонок по РФ
				for movie in movieList
					+movie-card(movie)
					//- .footer__contact= name 
		// end footer__nav
		
		// begin footer__copy 
		.footer__copy © 2012-2017 ООО Гидравлик Групп
		// end footer__copy 

// end footer 