/* homeHead
 ----------------------------------------------------------------------------- */
.homeHead {
	// @extend %clear_a;
	// display: table;
	width: 100%;
	font-size: 100%;
	display: flex;
	&__item {
		border: none;
		float: left;
		position: relative;
		// display: table-cell;
		text-align: center;
		padding: 14.7em 7.4em 11.2em ;
		position: relative;
		&_static {
			width: 33.7%;
			background: #fbfbfb url(../img/map.png) bottom 1.7em right -7em no-repeat;
			background-size: 47.1em;
			.homeHead__name {
				border: 2px solid rgba(0, 0, 0, 0.4);
				background-color: rgba(#fff, 0.5);
			}
		}
		&_mobile {
			width: 33.5%;
			background-color: #f0eff4;
			overflow: hidden;
			.homeHead__name {
				border: 2px solid rgba(255, 0, 0, 0.6);
				color: #ff0000;
				background-color: rgba(#fff, 0.8);
				position: relative;
				z-index: 2;
			}
		}
		&_catalog {
			width: 32.8%;
			background:  url(../img/col3.png) center no-repeat;
			background-size: cover;
			.homeHead__name {
				border: 2px solid #ffffff;
				color: #ffffff;
			}
		}
		&_map {
			position: relative;
			z-index: 2;
			width: 66.6%;
			background:  url(../img/map-list.png) center no-repeat;
			background-size: 100% 100%;
			padding: 18.1em 4.4em 15.3em ;
			margin-right: -6.1%;
			.loader {
				&__first {
					left: auto;
					top: 4.8em;
					right: 29.1em;
				}
				&__last {
					left: auto;
					right: 27.15em;
					bottom: 1.7em;
				}
			}
			.homeHead__sub {
				font-size: 1em;
				bottom: 1.7em;
				left: 4.6em;
			}
		}
		&_mech {
			position: relative;
			z-index: 1;
			width: 39.5%;
			background:  url(../img/rotor-bg.png) center no-repeat;
			background-size: cover;
			padding: 19.2em 10.6em 15.3em ;
			color: #ff0000;
		}
		&_grey {
			width: 66.6%;
			padding: 10.2em 4.2em 10.3em ;
			background-color: #f0eff4;
			font-size: 1.5em;
			text-align: left;
		}
		&_dark {
			width: 34.5%;
			padding: 19.6em 4.4em 10.3em ;
			background-color: #061115;
			text-align: left;
			.btn {
				min-width: 12em;
			}
			.homeHead__vertical_content:before {
				opacity: .2;
			}
		}
	}
	&__vertical {
		text-align: left;
		&_content {
			position: relative;
			display: block;
			width: 100%;
			@extend %clear_a;
			&:before {
				content: '';
				border-top: 2px solid #ccc;
				display: block;
				position: absolute;
				top: 50%;
				right: 0;
				width: 16em;
				
			}
			&--right {
				.homeHead__vertical_wrap {
					float: right;
				}
				&:before {
					right: auto;
					left: 0;
					width: 10em;
				}
			}
		}
		&_wrap {
			float: left;
		}
	}
	&__sub {
		position: absolute;
		bottom: 1.2em;
		left: 4.1em;
		font-size: 0.7em;
		color: #888888;
	}
	&__name {
		border: 1px solid;
		font-family: Kankin;
		font-size: 2.4em;
		text-transform: uppercase;
		letter-spacing: 0.12em;
		padding: 1.8em 0.5em 1.6em;
		text-decoration: none;
		color: #000;
		display: block;
		transition: all .5s;
		&:hover {
			background-color: rgba(#fff, 0.4);
		}
	}
	&_car {
		opacity: 0;
		max-width: none;
		position: absolute;
		top: 16.2em;
		left: 0.8em;
		width: 96%;
		z-index: 1;
		&--lg {
			opacity: 0;
			position: absolute;
			top: 27.2em;
			left: 24.5%;
			width: 58.6em;
			z-index: 1;
		}
	}
	&__title {
		font-family: Kankin;
		font-size: 2.07em;
		letter-spacing: 0.08em;
		text-transform: uppercase;
		margin-bottom: 0.45em;
	}
	&__vertical {
		// font-size: 1.5em;
		&_content {
			&--left {

			}
			&--right {

			}
		}
	}
	@media (max-width: 767px) {
		padding-top: 40px;
		flex-wrap: wrap;
	    &__item {
	    	width: 100% !important;
	    	padding: 4.2em 1.4em;
	    	&_map {
	    		margin: 0;
	    		background-color: #f0eff4;
	    		background-size: auto 100%;
	    		background-position: right bottom;
	    	}
	    	&_catalog {
	    		background-image: none;
	    		background-color: #071015;
	    	}
	    	&_static {
	    		background-size: auto 100%;
	    		background-position: right center;
	    	}
			&_grey {
				padding: 2.2em 1.4em 4em;
			}
	    }
	    &_car {
	    	opacity: 1;
	    	top: 16.7%;
	    	&--lg {
	    		display: none;
	    	}
	    }
	    &__sub {
	    	left: 15px !important;
	    }
		&__vertical {
			text-align: left;
			&_content {
				position: relative;
				display: block;
				width: 100%;
				&:before {
					display: none;
				}
				&--right {
					.homeHead__vertical_wrap {
						float: none;
						text-align: left;
					}
				}
			}
			&_wrap {
				float: none;
				text-align: center;
			}
		}
	}
}

